@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
body {
  background-color: rgb(20, 19, 19);
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.container {
  display: flex;
}

.sidebar {
  position: fixed;
  width: 60px;
  height: 100vh;
  background-color: #000000;
  padding: 15px;
  z-index: 2;
}

.sidebar ul {
  list-style: none;
  padding: 60px 20px;
}

.logo {
  color: #cba34b;
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-style: italic;
  font-size: 38px;
  margin-top: 10px;
  padding: -12px 10px;
  text-shadow: 2px 2px 5px rgba(208, 178, 43, 0.7);
}

.logo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.sidebar li {
  margin: 50px 0;
  cursor: pointer;
}
  
.sidebar i {
  position: relative;
  margin-right: 20px;
}

.sidebar i::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 10%;
  left: 150%;
  transform: translateY(-50%);
  background-color: rgba(255, 253, 253);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  z-index: 10;
}

.sidebar i:hover::after {
  visibility: visible;
  opacity: 1;
}

.main {
  padding-left: 110px;
  width: 85%;
  position: relative;
  flex-grow: 1;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header h3 {
  margin-top: 50px;
  color: white;
  font-size: 40px;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 4px;
}

.main-add-card {
  display: flex;
}

.main-add-card .card {
  width: 400px;
  height: 130px;
  margin: 10px;
  margin-left: 0px;
  margin-top: 30px;
  background: #c9a644;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-add-card .card h3 {
  font-weight: 500;
  margin: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.main-add-card .button-container {
  display: flex;
  gap: 30px;
}

.main-add-card .card button {
  background: #e4e2dc;
  font-family: "Poppins", sans-serif;
  border: #ffffff;
  color: #060606;
  font-weight: 500;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
  display: flex;
}

.main-add-card .card button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

h3 {
  margin-bottom: 10px;
  color: #ddd5be;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.input-container {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.input-container label {
  font-size: 0.7rem;
  color: #dfdbdb;
  display: inline-block;
  margin-bottom: 5px;
}

.input-container input {
  width: 95%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(114, 113, 109, 0.2);
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  color: rgb(159, 156, 156);
  outline: none;
}

.btn {
  color: black;
  border: #c9a644;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  display: inline-block;
  justify-content: center;
  margin: 8px; 
  margin-top: 10px;
}

.btn-excluir {
  background: #a32626;
}

.btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.btn-excluir-1 {
  background: #a32626;
  border: #060606;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 0.7rem;
  margin-left: 353px;
  margin-top: -35px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-excluir-1:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup-overlay.active {
  visibility: visible;
  opacity: 1;
}

.popup-content {
  background: rgb(20, 19, 19);;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
}

.popup-close {
  background: #c9a644;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  font-size: 14px;
}

.popup-close:hover {
  background: #d4b05c;
}
