* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../imagens/confete.jpg);
    background-color: black;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 480px;
    height: 390px;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 30px 40px;
    border: 2px solid #c9a644;
    border-radius: 10px;
}

h1 {
    font-size: 70px;
    color: #c9a644;
}

.input-container {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-container input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(166, 141, 41, 0.2);
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    color: rgb(159, 156, 156);
    outline: none;
}

.input-container a {
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    margin-top: 6px;
    margin-left: 8px;
    color: rgb(159, 156, 156);
}

.btn {
    width: 100%;
    height: 34px;
    background-color: #c9a644;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.register {
    text-align: center;
}

.register p,a {
    color: rgb(159, 156, 156);
    font-size: 0.9rem;
    display: inline-block;
    text-decoration: none;
    margin-top: 2px;
}
