@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.banner {
  background-image: url(../imagens/ft.jpg);
  background-size: cover;
  background-position: center 110;
  background-color: black;
  object-fit: contain;
  position: relative;
  height: 700px;
}

.banner--fadeBottom {
  height: 40rem;
  background-image: linear-gradient(180deg, transparent, rgba(11, 11, 15, 0.75), #000000);
}

.banner-text {
  display: flex;
  position: absolute;
  text-align: justify;
  justify-content: center; 
  flex-direction: column;
}

.banner-text h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 62px;
  margin: 40px;
  margin-top: 220px;
  color: #f3efef;
  text-shadow: 2px 2px 5px rgba(221, 212, 212, 0.7);
}

.banner-text p {
  color: white;
  font-size: 20px;
  font-weight: 200;
  margin: 40px;
  margin-top: 0px;
}

.navbar {
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 100%;
  color: white;
}

.logo-container h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-style: italic;
  font-size: 35px;
  color: #cba34b;
  text-shadow: 2px 2px 5px rgba(202, 147, 51, 0.7);
}

nav ul {
  list-style: none;
  margin-left: 1000px;
  margin-top: 20px;
}

nav ul li {
  display: inline-block;
  gap: 100px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #c4c2c2;
  border-radius: 30px;
  transition: 0.6s;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

nav ul li a:hover {
  color: white;
}

section {
  position: relative;
  background-color: rgb(0, 0, 0);
  height: 550px;
  padding: 15px;
  padding: 0 70px;
  margin-top: 0vh; 
  padding-top: 0.5rem;
  max-width: 1520px;
  width: 100%;
  display: flex;
  align-items: center;
}

section .swiper-slide.card {
  background: #edeae3;
  color: rgb(3, 3, 3);
  border-radius: 15px;
  overflow: hidden;
  margin: 2px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 325px; /* Largura fixa */
  height: 320px; /* Altura fixa */
}

.card-img-top{
  width: 100%;
  height: auto;
}

.card-container {
  padding: 8px; 
  margin-top: 0;
  height: 50px; 
}

.card-container h3 {
  font-size: 30px;
  display: flex; /* Ativa o Flexbox no h3 */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /
}

.card-container .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #cba34b;
  text-decoration: none;
  border-radius: 4px;
  display: flex; /* Ativa o Flexbox no h3 */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; 
  width: 200px;
  left: 200px;
}
 

.modal {
  position: fixed;
  inset: 0;
  background-color: hsla(5, 90%, 4%, .2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(24px);
  display: grid;
  place-items: center;
  padding: 2rem 1.5rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: var(--z-modal);
  transition: opacity .4s, visibility .4s;
}

.modal__card {
  position: relative;
  background-color: var(--body-color);
  padding: 3rem 1.25rem 2rem;
  display: grid;
  row-gap: 1.5rem;
  text-align: center;
  transform: rotateX(90deg);
  transition: transform .6s;
}

.modal__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.modal__img {
  width: 220px;
  justify-self: center;
  filter: drop-shadow(0 8px 16px hsla(5, 90%, 4%, .2));
}

.modal__name {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: .5rem;
}

.modal__info {
  margin-bottom: 1rem;
}

.modal__price {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.modal__buttons {
  display: flex;
  gap: .5rem;
}

.modal__button {
  flex-grow: 1;
  outline: none;
  border: none;
  background-color: var(--first-color);
  padding-block: 1rem;
  color: var(--white-color);
  font: var(--font-semi-bold) var(--normal-font-size) var(--body-font);
  cursor: pointer;
  transition: background-color .4s;
}

.modal__button:hover {
  background-color: var(--first-color-alt);
}

.modal__button-ghost {
  background-color: var(--body-color);
  color: var(--title-color);
  border: 3px solid var(--first-color);
}

.modal__button-ghost:hover {
  background-color: var(--body-color);
}

/* Active modal */
.active-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.active-modal .modal__card {
  transform: rotateX(0);
}

.swiper-pagination {
  position: absolute;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #d4a017;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #d4a017;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #d4a017;
}

/* Responsive media query code for small screens */
@media (max-width: 768px) {
  section {
    padding: 15px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}